.shop_popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.700);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}
.shop_popup.active{
    opacity:1;
    pointer-events: all;
    transition: 0.5s all;
}
.shop_popup_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: url('../img/drevo_navikov/zvezdi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 60vw;
    height: 90vh;
    padding:25px;
    transition: 0.5s all;
}
.shop_popup_content.active{
    transform: translate(-50%,-50%) scale(1);
    transition: 0.5s all;
    border-radius:20px;
}